HOME            = .
RANDFILE        = $ENV::HOME/.rnd
WORKING_DIR = ./local.com                                                  #CHANGE HERE

####################################################################
[ req ]
default_bits       = 2048
default_keyfile    = $WORKING_DIR/local.com-key.pem                       #CHANGE HERE
distinguished_name = server_distinguished_name
req_extensions     = server_req_extensions
string_mask        = utf8only

####################################################################
[ server_distinguished_name ]
countryName         = Country Name (2 letter code)
countryName_default = VN

stateOrProvinceName         = State or Province Name (full name)
stateOrProvinceName_default = Viet Nam

localityName         = Locality Name (eg, city)
localityName_default = HO CHI MINH

organizationName            = Organization Name (eg, company)
organizationName_default    = Duc Loi

commonName           = Common Name (e.g. server FQDN or YOUR name)
commonName_default   = Local Servers                                     #CHANGE HERE

emailAddress         = Email Address
emailAddress_default = microwave88@gmail.com

####################################################################
[ server_req_extensions ]

subjectKeyIdentifier = hash
basicConstraints     = CA:FALSE
keyUsage             = digitalSignature, keyEncipherment
subjectAltName       = @alternate_names
nsComment            = "OpenSSL Generated Certificate"

####################################################################
[ alternate_names ]

DNS.1  = *.local.com                                                #CHANGE HERE

# IPv4 localhost
IP.1     = 127.0.0.1
# IPv6 localhost
IP.2     = ::1
IP.3   = 192.168.31.1                                                  #CHANGE HERE
IP.4   = 192.168.31.10
IP.5   = 192.168.31.11
IP.6   = 192.168.31.12
IP.7   = 192.168.31.13
IP.8   = 192.168.31.21